<div class="posts-container" >
    <div class="post" *ngFor="let post of Posts; let i = index">
        <div class="post-nav">
            <h3>{{post.title}}</h3>
        </div>
        <div class="post-date">
            <p>{{post.date}}</p>
        </div>
        <div class="post-body">
            <p class="body-text">{{post.notes}}</p>
        </div>

    <div class="buttons">
        <div class="delete-btn" (click)="removePost(post)">DELETE</div>
        <div class="edit-btn" routerLink="/update-post/{{post.id}}">EDIT</div>
    </div>
    </div>

</div>