

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label>Title:</label>
      <input type="text" formControlName="title" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <label>Date:</label>
      <input type="date" formControlName="date" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <label>Notes:</label>
      <input type="text" formControlName="notes" style="height:50vh" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Create</button>
    </div>
  </form>
